<div>
  <%= fields_for "treino[exercicios_attributes][#{turbo_id_for(exercicio)}]", exercicio do |ff| %>
    <fieldset class="mb-4" id="<%= turbo_id_for(exercicio) %>">
      <legend>Exercicio</legend>
      <%= ff.label :nome %>
      <%= ff.text_field :nome %>
      <%= ff.label :nivel %>
      <%= ff.select :nivel, options_for_select((1..5).map { |number| [number, number] }) %>
      <%= ff.hidden_field :id %>
      <%= button_tag "Deletar exercicio", formaction: exercicio_path(turbo_id_for(exercicio)), formmethod: :delete %>
    </fieldset>
  <% end %>
</div>

