<%= turbo_frame_tag "task_#{form.index}" do %>
  <%= form.hidden_field :id %>
  <div>
    <%= form.label :nome, "Nome do Exercicio", style: "display: block" %><br>
    <%= form.text_field :nome %>
  </div>

  <%= form.submit "destroy exercicio",
                  formaction: exercicio_path(form.index, form.object.id),
                  formmethod: :delete,
                  formnovalidate: true,
                  data: { turbo_frame: "exercicio_#{form.index}" } %>
<% end %>