<%= form_with(model: [@treino, @exercicio]) do |form| %>
  <% if exercicio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercicio.errors.count, "error") %> prohibited this exercicio from being saved:</h2>

      <ul>
        <% exercicio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
