<section class="min-vh-100" style="background-color: #1e1e1e;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="text-3xl text-center text-white">
          <div class="card mx-auto" style="width: 18rem;">

            <div class="card-header p-3" >
              <h2>Edit <%= resource_name.to_s.humanize %></h2>
            </div>

            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password, "Senha" %> <i>(deixe em branco se não quiser trocar)</i><br />
                  <%= f.password_field :password, autocomplete: "nova-senha" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> caracteres no mínimo</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, "Confirmar senha" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "nova-senha" %>
                </div>

                <div class="field">
                  <%= f.label :current_password, "Senha atual" %> <i>(Precisamos da sua senha atual para confirmas as mudanças)</i><br />
                  <%= f.password_field :current_password, autocomplete: "senha-atual" %>
                </div>

                <div class="actions">
                  <%= f.submit "Atualizar" %>
                </div>
              <% end %>
            </div>
          </div>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</section>

<h3>Cancelar minha conta</h3>

<div>Não gostou? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete %></div>

<%= link_to "Voltar", :back %>
