<div class="card">
  <div id="<%= dom_id treino %>">

    <div class="card-header p-3">
      <h1><%= @treino.nome.titleize %></h1>
    </div>

    <div class="card-body">

        <% if @exercicios.present? %>
          <%= form_with(model: @treino, local: true) do |form| %>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Exercício</th>
                <th scope="col">Nível</th>
                <th scope="col">Descrição</th>
                <th scope="col">Fazer junto</th>
                <th scope="col">Concluído</th>
              </tr>
              </thead>

              <tbody>
              <% @exercicios.each do |exercicio| %>
                <%= form.fields_for :exercicios, exercicio do |exercicio_fields| %>
                  <tr>
                    <td><%= exercicio_fields.label :nome, exercicio.nome %></td>
                    <td><%= exercicio_fields.label :nivel, exercicio.nivel %></td>

                    <% if exercicio.descricao.present? %>
                      <td style="word-break: break-word; white-space: normal;"><%= exercicio_fields.label :descricao, exercicio.descricao %></td>
                    <% else %>
                      <td></td>
                    <% end %>

                    <% if exercicio.codependencia.present? %>
                      <td><%= @exercicios_completos.find{|e| e.id == exercicio.codependencia }.nome %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><%= exercicio_fields.check_box :concluido %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
            <%= form.submit "Salvar", class: "btn btn-dark"%>
          <% end %>
        <% else %>
          <p> Todos os exercícios foram concluidos! </p>
          <p>
            <%= button_to "Refazer", refazer_treino_treinos_path(id: treino.id), method: :post, class: "btn btn-dark btn-sm" %>
          </p>
        <% end %>

    </div>

  </div>
</div>

