<section class="vh-100" style="background-color: #1e1e1e;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="text-3xl text-center">
          <p style="color: green"><%= notice if notice%></p>
          <p style="color: green"><%= alert if alert%></p>
            <%= render @treino %>

            <div>
              <%= link_to "Editar esse treino", edit_treino_path(@treino), class: "text-decoration-none link-light" %> |
              <%= link_to "Voltar para treinos", treinos_path, class: "text-decoration-none link-light" %>

              <%= button_to "Apagar treino", @treino, method: :delete, form: { data: { turbo_confirm: 'Tem certeza?' } }, class: "btn btn-danger" %>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>